body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.bill,
.tip {
  margin-bottom: 20px;
}

span {
  display: block;
  margin-bottom: 5px;
  font-size: 1.1em;
  color: #333;
}

input[type="text"],
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  box-sizing: border-box;
}

input[type="text"]::placeholder {
  color: #ccc;
}

h3 {
  color: #333;
  font-size: 1.2em;
  margin-top: 20px;
}

.reset-button {
  background-color: #82b8a3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.reset-button:hover {
  background-color: red;
}